name: Tag Release Pipeline

on:
  push:
    branches:
      - main  # mainブランチにPush（マージ含む）されたら実行

jobs:
  tag-check:
    runs-on: self-hosted
    # Approval Gate（承認ゲート） リポジトリをPublicにする必要があります。
    # environment: production

    steps:
      # GitHub からソースコードを取得
      - name: Checkout source
        uses: actions/checkout@v4
        # 最新の 1 コミットだけを取得（パケット節約）
        with:
          fetch-depth: 1

      # ブランチ名と日時（ログ出力）
      - name: Show branch and deployment id
        run: |
          echo "Branch name = ${{ github.ref_name }}"
          echo "Time = $(date +'%Y-%m-%d %H:%M')"

      - name: Build artifact
        run: |
          tar -czf artifact.tar.gz app
      
      # artifact 内容確認（ログ出力）
      - name: Check artifact content
        run: tar -tf artifact.tar.gz

      # SSH Agent 起動
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # known_hosts 登録（SSH 初回接続の接続確認を自動回避）
      - name: Add known hosts
        run: ssh-keyscan -H ${{ vars.DEPLOY_HOST }} >> ~/.ssh/known_hosts

      # Ansible Deploy 実行
      - name: Run Ansible deploy
        run: |
          # フォルダ名に使う日時を作成
          DEPLOY_DATE=$(date +'%Y%m%d-%H%M')
          # フォルダ名：main-20260215-2000 のようになる
          VERSION_NAME="${{ github.ref_name }}-$DEPLOY_DATE"
          
          cd ansible
          ansible-playbook -i hosts deploy.yml -e version=$VERSION_NAME

      # Artifactのクリーンアップ
      - name: Post-deploy cleanup
        # 成功失敗に関わらず実行
        if: always() 
        run: rm -f artifact.tar.gz
